@charset "UTF-8";
/*
* foundation
*/
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role=list],
ol[role=list] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
*::before,
*::after {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
a {
  color: #000000;
}

img {
  width: 100%;
}

input[type=text],
input[type=email],
input[type=submit],
textarea {
  margin: 0;
  padding: 0;
  background: none;
  border: none;
  border-radius: 0;
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

input[type=checkbox] {
  -webkit-appearance: auto !important;
  -moz-appearance: auto !important;
  appearance: auto !important;
}

/* =============================================
// productにhoverした時の処理
============================================= */
/* =============================================
//1rem = 10pxにするための設定
============================================= */
html {
  font-size: 62.5%;
}

.overflow {
  overflow: hidden;
}

@font-face {
  font-family: "Times New Roman";
  src: "./font/Avenir-Black-03.ttf" format("opentype");
}
@font-face {
  font-family: "Avenir";
  src: "./font/Avenir.ttf" format("opentype");
}
/* =============================================
/ ブレークポイントについて
============================================= */
/* =============================================
/ よく使うブレークポイントでの切り替えクラス
============================================= */
.pc_contents {
  display: block;
}
@media (max-width: 767px) {
  .pc_contents {
    display: none !important;
  }
}

.sp_contents {
  display: none !important;
}
@media (max-width: 767px) {
  .sp_contents {
    display: block !important;
  }
}

html {
  font-size: 62.5%;
}

/* =============================================
/ get_vwの設定
============================================= */
/*
* ルートのフォントサイズを基準にフォントサイズを可変にする
* @args 最大値（デザイン上の数値）
*/
/*
* layout
*/
.l_footer {
  padding-top: 3.90625vw;
  padding-bottom: 0.9765625vw;
  width: 100vw;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  border-top: 1px solid #000000;
}
@media (max-width: 767px) {
  .l_footer {
    padding-top: 10.6666666667vw;
    padding-bottom: 4vw;
  }
}
.l_footer .l_footer__inner {
  width: 85%;
  max-width: 1296px;
  margin: 0 auto 3.90625vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 767px) {
  .l_footer .l_footer__inner {
    width: 92%;
    display: block;
  }
}
.l_footer .l_footer__inner .logo {
  cursor: pointer;
  width: 8.4635416667vw;
  position: relative;
}
@media (max-width: 767px) {
  .l_footer .l_footer__inner .logo {
    margin-bottom: 10.6666666667vw;
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
  }
  .l_footer .l_footer__inner .logo img {
    width: 16vw;
  }
  .l_footer .l_footer__inner .logo .topBtn_sp {
    font-family: "Sorts Mill Goudy", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 3.7333333333vw;
  }
}
.l_footer .l_footer__inner ul {
  display: flex;
  list-style: none;
  padding: 0;
  margin-left: 13.0208333333vw;
}
@media (max-width: 820px) {
  .l_footer .l_footer__inner ul {
    margin-left: 6.5104166667vw;
  }
}
@media (max-width: 767px) {
  .l_footer .l_footer__inner ul {
    margin-left: 0;
    justify-content: space-between;
    margin: 0 auto;
    margin-bottom: 10.6666666667vw;
    width: 96%;
  }
}
.l_footer .l_footer__inner ul li {
  margin-right: 1.953125vw;
}
.l_footer .l_footer__inner ul li:nth-last-child(1) {
  margin-right: 0;
}
.l_footer .l_footer__inner ul li a {
  font-family: "Marcellus", serif;
  font-weight: 400;
  font-style: normal;
  font-size: clamp(10px, 0.9114583333vw, 14px);
  text-decoration: none;
}
@media (max-width: 767px) {
  .l_footer .l_footer__inner ul li a {
    font-size: 3.7333333333vw;
  }
}
.l_footer .l_footer__inner .topBtn {
  display: block;
  font-family: "Sorts Mill Goudy", serif;
  font-weight: 400;
  font-style: normal;
  font-size: clamp(10px, 0.9114583333vw, 14px);
  letter-spacing: 0.03em;
  white-space: nowrap;
}
@media (max-width: 767px) {
  .l_footer .l_footer__inner .topBtn {
    font-size: 3.7333333333vw;
    display: none;
  }
}
.l_footer p {
  text-align: right;
  width: 85%;
  max-width: 1296px;
  margin: 0 auto;
  font-family: "Cormorant Garamond", serif;
  font-weight: 300;
  font-style: italic;
  font-size: clamp(10px, 0.9114583333vw, 14px);
}
@media (max-width: 767px) {
  .l_footer p {
    font-size: 3.7333333333vw;
  }
}

.l_header {
  width: 100%;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  position: fixed;
  padding-top: 3.90625vw;
  width: 85%;
  max-width: 1296px;
  margin: 0 auto;
  z-index: 100;
}
@media (max-width: 767px) {
  .l_header {
    width: 90%;
    padding-top: 6.6666666667vw;
  }
}
.l_header .l_header__inner {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.l_header .l_header__inner .logo {
  width: 8.4635416667vw;
}
@media (max-width: 767px) {
  .l_header .l_header__inner .logo {
    width: 16vw;
  }
}
.l_header .l_header__inner a {
  font-family: "Marcellus", serif;
  font-weight: 400;
  font-style: normal;
  font-size: clamp(10px, 1.0416666667vw, 16px);
  cursor: pointer;
}
@media (max-width: 767px) {
  .l_header .l_header__inner a {
    font-size: 3.7333333333vw;
  }
}

.l_header__menu {
  width: 100vw;
  height: 100vh;
  background-color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  transform: translateX(100%);
  transition: 1.5s;
}
.l_header__menu::after {
  content: "";
  width: 1px;
  height: 100%;
  position: absolute;
  top: 0;
  left: 7.5%;
  background-color: #000;
}
@media (max-width: 767px) {
  .l_header__menu::after {
    left: 5%;
  }
}
.l_header__menu-close {
  width: 85%;
  max-width: 1296px;
  margin: 0 auto;
  padding-top: 3.90625vw;
  text-align: right;
  cursor: pointer;
}
@media (max-width: 767px) {
  .l_header__menu-close {
    width: 90%;
    padding-top: 6.6666666667vw;
  }
}
.l_header__menu-close a {
  font-family: "Marcellus", serif;
  font-weight: 400;
  font-style: normal;
  font-size: clamp(10px, 1.0416666667vw, 16px);
}
@media (max-width: 767px) {
  .l_header__menu-close a {
    font-size: 4.2666666667vw;
  }
}
.l_header__menu-inner {
  width: 85%;
  margin: 0 auto;
  max-width: 1296px;
  position: relative;
  top: 45%;
  transform: translateY(-50%);
  padding: 0;
  list-style: none;
  padding-left: 2.9296875vw;
}
@media (max-width: 767px) {
  .l_header__menu-inner {
    padding-left: 16vw;
  }
}
.l_header__menu-inner li {
  margin-bottom: 2.6041666667vw;
}
@media (max-width: 767px) {
  .l_header__menu-inner li {
    margin-bottom: 13.3333333333vw;
  }
}
.l_header__menu-inner li a {
  font-family: "Marcellus", serif;
  font-weight: 400;
  font-style: normal;
  text-decoration: none;
  font-size: clamp(10px, 3.90625vw, 60px);
  cursor: none;
}
@media (max-width: 820px) {
  .l_header__menu-inner li a {
    font-size: 7.1614583333vw;
  }
}
@media (max-width: 767px) {
  .l_header__menu-inner li a {
    font-size: 9.3333333333vw;
  }
}
.l_header__menu.active {
  transition: 1.5s;
  transform: translateX(0);
}

.container {
  width: 85%;
  max-width: 1296px;
  margin: 0 auto;
}
@media (max-width: 767px) {
  .container {
    width: 90%;
  }
}

@-webkit-keyframes strokeAni {
  0% {
    stroke-dashoffset: 1000;
    fill: #fff;
  }
  30% {
    stroke-dashoffset: 1000;
    fill: #fff;
  }
  55% {
    stroke-dashoffset: 0;
    fill: #fff;
  }
  100% {
    fill: #fff;
  }
}

@keyframes strokeAni {
  0% {
    stroke-dashoffset: 1000;
    fill: #fff;
  }
  30% {
    stroke-dashoffset: 1000;
    fill: #fff;
  }
  55% {
    stroke-dashoffset: 0;
    fill: #fff;
  }
  100% {
    fill: #fff;
  }
}
.main_contents {
  padding-bottom: 13.0208333333vw;
}
@media (max-width: 767px) {
  .main_contents {
    padding-bottom: 26.6666666667vw;
  }
}

.l_kvArea {
  padding-top: 19.53125vw;
  padding-bottom: 8.4635416667vw;
  width: 100%;
}
@media (max-width: 820px) {
  .l_kvArea {
    padding-top: 32.5520833333vw;
    padding-bottom: 19.53125vw;
  }
}
@media (max-width: 767px) {
  .l_kvArea {
    padding-top: 65.3333333333vw;
    padding-bottom: 53.3333333333vw;
  }
}
.l_kvArea .img_01 {
  max-width: 778px;
  margin: 0 auto 3.2552083333vw;
  width: 50.6510416667vw;
  opacity: 0;
  transition: opacity 6s;
}
@media (max-width: 767px) {
  .l_kvArea .img_01 {
    max-width: none;
    margin: 0 auto 8vw;
    width: 71.2vw;
  }
}
.l_kvArea .img_01.active {
  opacity: 1;
}
.l_kvArea .flex {
  max-width: 880px;
  margin: 0 auto 4.2317708333vw;
  width: 57.2916666667vw;
  display: flex;
  justify-content: space-between;
  position: relative;
}
@media (max-width: 767px) {
  .l_kvArea .flex {
    max-width: none;
    margin: 0 auto 9.3333333333vw;
    width: 80.5333333333vw;
  }
}
.l_kvArea .flex .img_02 {
  max-width: 393px;
  width: 25.5859375vw;
  opacity: 0;
  transition: opacity 6s;
}
@media (max-width: 767px) {
  .l_kvArea .flex .img_02 {
    max-width: none;
    width: 36vw;
  }
}
.l_kvArea .flex .img_02.active {
  opacity: 1;
}
.l_kvArea .flex .aniImg {
  position: absolute;
  top: -25px;
  left: 55%;
  transform: translateX(-50%);
  z-index: -1;
}
@media (max-width: 767px) {
  .l_kvArea .flex .aniImg {
    top: -180%;
    left: 55%;
    transform: translateX(-50%);
  }
}
.l_kvArea .flex .aniImg svg {
  max-width: 110px;
  width: 7.1614583333vw;
}
@media (max-width: 767px) {
  .l_kvArea .flex .aniImg svg {
    max-width: none;
    width: 10.9333333333vw;
  }
}
.l_kvArea .flex .aniImg svg .st0 {
  fill: transparent;
  stroke: #000;
  stroke-dasharray: 1000;
  stroke-dashoffset: 0;
  stroke-width: 0.2px;
  -webkit-animation: strokeAni 8.5s ease-in 0s;
          animation: strokeAni 8.5s ease-in 0s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
.l_kvArea .flex .img_03 {
  max-width: 376px;
  width: 24.4791666667vw;
  opacity: 0;
  transition: opacity 6s;
}
.l_kvArea .flex .img_03.active {
  opacity: 1;
}
@media (max-width: 767px) {
  .l_kvArea .flex .img_03 {
    max-width: none;
    width: 34.4vw;
  }
}
.l_kvArea .img_04_flex {
  max-width: 293px;
  width: 19.0755208333vw;
  margin: 0 auto;
  position: relative;
}
@media (max-width: 767px) {
  .l_kvArea .img_04_flex {
    max-width: none;
    width: 26.9333333333vw;
  }
}
.l_kvArea .img_04_flex .img_04 {
  opacity: 0;
  transition: opacity 6s;
  width: 100%;
}
.l_kvArea .img_04_flex .img_04.active {
  opacity: 1;
}
.l_kvArea .img_04_flex svg {
  max-width: 90px;
  width: 5.859375vw;
  position: absolute;
  top: -35px;
  left: -20%;
  z-index: -1;
}
@media (max-width: 767px) {
  .l_kvArea .img_04_flex svg {
    max-width: none;
    width: 8.5333333333vw;
    top: -230%;
    left: -20%;
  }
}
.l_kvArea .img_04_flex svg .st0 {
  fill: transparent;
  stroke: #000;
  stroke-opacity: 0.2;
  stroke-dasharray: 1000;
  stroke-dashoffset: 0;
  stroke-width: 1px;
  -webkit-animation: strokeAni 8.5s ease-in 0s;
          animation: strokeAni 8.5s ease-in 0s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.l_contents {
  width: 100%;
  position: relative;
  padding-bottom: 13.0208333333vw;
}
@media (max-width: 767px) {
  .l_contents {
    padding-bottom: 26.6666666667vw;
  }
}
.l_contents.active::after {
  content: "";
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  height: 100%;
  width: 1px;
  background-color: #000;
}
.l_contents::after {
  content: "";
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  height: 0;
  width: 1px;
  background-color: #000;
  transition: height 5s;
}
@media (max-width: 767px) {
  .l_contents::after {
    transition: height 6s;
  }
}
.l_contents .l_contents__inner {
  padding-top: 19.53125vw;
  position: relative;
  margin-bottom: 13.0208333333vw;
}
@media (max-width: 767px) {
  .l_contents .l_contents__inner {
    padding-top: 21.3333333333vw;
  }
}
.l_contents .l_contents__inner:nth-last-child(1) {
  margin-bottom: 0;
  padding-top: 13.0208333333vw;
  padding-bottom: 26.0416666667vw;
}
@media (max-width: 820px) {
  .l_contents .l_contents__inner:nth-last-child(1) {
    padding-bottom: 45.5729166667vw;
  }
}
@media (max-width: 767px) {
  .l_contents .l_contents__inner:nth-last-child(1) {
    padding-bottom: 53.3333333333vw;
  }
}
.l_contents .l_contents__inner-ttl {
  position: absolute;
  top: 9.765625vw;
  left: -10%;
  transform: rotate(90deg);
  transition: 0.5s;
}
@media (max-width: 767px) {
  .l_contents .l_contents__inner-ttl {
    position: static;
    transform: rotate(0deg);
    top: 0px;
    left: 0;
    margin-bottom: 32vw;
  }
}
.l_contents .l_contents__inner-ttl .bar {
  position: absolute;
  top: -50%;
  left: 5%;
  display: block;
  width: 0vw;
  height: 4px;
  background-color: #000;
  opacity: 0;
  transition: opacity 0.7s;
  transition: width 0.7s;
}
@media (max-width: 767px) {
  .l_contents .l_contents__inner-ttl .bar {
    top: 20%;
    left: 0;
    width: 2px;
    height: 0;
    transition: height 0.7s;
  }
}
.l_contents .l_contents__inner-ttl .bar.active {
  opacity: 1;
  width: 3.2552083333vw;
  transition: opacity 0.7s, width 0.7s;
}
@media (max-width: 767px) {
  .l_contents .l_contents__inner-ttl .bar.active {
    left: 0;
    width: 2px;
    height: 60%;
    transition: height 0.7s;
  }
}
.l_contents .l_contents__inner-ttl p {
  font-size: clamp(10px, 2.6041666667vw, 40px);
  letter-spacing: 0.05em;
  font-family: "Marcellus", serif;
  font-weight: 400;
  font-style: normal;
  position: relative;
  transform: translateX(-20%);
  opacity: 0;
  transition: 1s;
  transition-delay: 1s;
}
@media (max-width: 767px) {
  .l_contents .l_contents__inner-ttl p {
    font-size: 8.5333333333vw;
    margin-left: 2.6666666667vw;
  }
}
.l_contents .l_contents__inner-ttl p.active {
  transform: translateX(0);
  opacity: 1;
  transition: 1s;
  transition-delay: 1s;
}
.l_contents .l_contents__inner-ttl.tt_02 {
  left: -9%;
}
@media (max-width: 767px) {
  .l_contents .l_contents__inner-ttl.tt_02 {
    margin-bottom: 55px;
  }
}
.l_contents .l_contents__inner-ttl.tt_02::after {
  position: absolute;
  top: -50%;
}
@media (max-width: 767px) {
  .l_contents .l_contents__inner-ttl.tt_02::after {
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    width: 2px;
    height: 60%;
  }
}
.l_contents .l_contents__inner-ttl.tt_03 {
  top: 0;
  left: 0%;
  text-decoration: none;
  position: relative;
  cursor: none;
}
@media (max-width: 767px) {
  .l_contents .l_contents__inner-ttl.tt_03 {
    display: block;
    transform: rotate(0);
  }
}
.l_contents .l_contents__inner-ttl.tt_03 .bar {
  position: absolute;
  top: 18%;
  left: 0%;
  display: block;
  width: 4px;
  height: 0;
  transform-origin: top;
  transition: opacity 0.7s;
  transition: height 0.7s;
}
@media (max-width: 767px) {
  .l_contents .l_contents__inner-ttl.tt_03 .bar {
    top: 20%;
    left: 0;
    width: 2px;
    height: 0;
    transition: height 0.7s;
  }
}
.l_contents .l_contents__inner-ttl.tt_03 .bar.active {
  opacity: 1;
  height: 3.2552083333vw;
  transition: opacity 0.7s;
  transition: height 0.7s;
}
@media (max-width: 767px) {
  .l_contents .l_contents__inner-ttl.tt_03 .bar.active {
    left: 0;
    width: 2px;
    height: 60%;
    transition: height 0.7s;
  }
}
.l_contents .l_contents__inner-ttl.tt_03 p {
  font-family: "Sorts Mill Goudy", serif;
  font-weight: 400;
  font-style: normal;
  font-size: clamp(10px, 4.4270833333vw, 68px);
  margin-left: 2.9296875vw;
  opacity: 0;
  transform: translateX(-10%);
}
@media (max-width: 820px) {
  .l_contents .l_contents__inner-ttl.tt_03 p {
    display: inline-block;
    top: auto;
    left: -20%;
    transform: rotate(0);
  }
  .l_contents .l_contents__inner-ttl.tt_03 p::after {
    content: "";
    position: absolute;
    bottom: 10%;
    left: 0;
    width: 0%;
    height: 1px;
    background-color: #000;
    transition: 1s;
    transition-delay: 2s;
  }
}
@media (max-width: 767px) {
  .l_contents .l_contents__inner-ttl.tt_03 p {
    display: inline-block;
    top: auto;
    left: -20%;
    font-size: 10.6666666667vw;
    transform: rotate(0);
  }
  .l_contents .l_contents__inner-ttl.tt_03 p::after {
    content: "";
    position: absolute;
    bottom: 10%;
    left: 0;
    width: 0%;
    height: 1px;
    background-color: #000;
    transition: 1s;
    transition-delay: 2s;
  }
}
.l_contents .l_contents__inner-ttl.tt_03 p.active {
  opacity: 1;
  transform: translateX(0%);
}
@media (max-width: 820px) {
  .l_contents .l_contents__inner-ttl.tt_03 p.active {
    left: 0%;
  }
  .l_contents .l_contents__inner-ttl.tt_03 p.active::after {
    content: "";
    position: absolute;
    bottom: 10%;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #000;
  }
}
.l_contents .l_contents__inner-ttl.active {
  transition: 0.5s;
  opacity: 1;
  top: 12.0442708333vw;
}
.l_contents .l_contents__inner-box {
  display: flex;
  justify-content: space-between;
  position: relative;
  padding-bottom: 19.53125vw;
}
.l_contents .l_contents__inner-box:nth-last-child(1) {
  padding-bottom: 0;
}
@media (max-width: 767px) {
  .l_contents .l_contents__inner-box:nth-last-child(1) {
    padding-bottom: 80vw;
    margin-bottom: 26.6666666667vw;
  }
}
@media (max-width: 767px) {
  .l_contents .l_contents__inner-box {
    flex-direction: column;
    padding-bottom: 80vw;
    margin-bottom: 26.6666666667vw;
  }
}
.l_contents .l_contents__inner-box.flex {
  display: block;
  overflow: hidden;
}
@media (max-width: 767px) {
  .l_contents .l_contents__inner-box.flex {
    overflow: scroll;
    padding-right: 0vw;
    padding-bottom: 5.3333333333vw;
    width: 100%;
  }
}
.l_contents .l_contents__inner-box.flex .flex_box {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
@media (max-width: 767px) {
  .l_contents .l_contents__inner-box.flex .flex_box {
    width: 160vw;
  }
}
.l_contents .l_contents__inner-box.flex .flex_box .contents {
  max-width: 380px;
  width: 26.6927083333vw;
  text-decoration: none;
}
.l_contents .l_contents__inner-box.flex .flex_box .contents:nth-child(1) {
  margin-left: 3.2552083333vw;
}
@media (max-width: 767px) {
  .l_contents .l_contents__inner-box.flex .flex_box .contents:nth-child(1) {
    margin-left: 4vw;
  }
}
@media (max-width: 767px) {
  .l_contents .l_contents__inner-box.flex .flex_box .contents {
    width: 50.6666666667vw;
    margin-right: 2.6666666667vw;
  }
}
.l_contents .l_contents__inner-box.flex .flex_box .contents .img {
  width: 100%;
  height: 26.6927083333vw;
  max-height: 380px;
  margin-bottom: 1.3020833333vw;
}
@media (max-width: 767px) {
  .l_contents .l_contents__inner-box.flex .flex_box .contents .img {
    max-height: none;
    width: 48vw;
    height: 48vw;
  }
}
.l_contents .l_contents__inner-box.flex .flex_box .contents .img img {
  -o-object-fit: contain;
     object-fit: contain;
  width: 100%;
  height: 100%;
}
.l_contents .l_contents__inner-box.flex .flex_box .contents .date {
  margin-bottom: 0.6510416667vw;
}
.l_contents .l_contents__inner-box.flex .flex_box .contents .date p {
  font-family: "Sorts Mill Goudy", serif;
  font-weight: 400;
  font-style: italic;
  font-size: clamp(10px, 1.0416666667vw, 16px);
  letter-spacing: 0.05em;
  color: #818281;
}
.l_contents .l_contents__inner-box.flex .flex_box .contents .txt {
  width: 90%;
}
.l_contents .l_contents__inner-box.flex .flex_box .contents .txt p {
  font-family: "游明朝", "YuMincho", "ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro", "ＭＳ Ｐ明朝", "MS PMincho", serif;
  font-size: clamp(10px, 1.3020833333vw, 20px);
}
.l_contents .l_contents__inner-box .box_left {
  padding-left: 7.8125vw;
  width: 100%;
}
@media (max-width: 767px) {
  .l_contents .l_contents__inner-box .box_left {
    width: 100%;
    padding-left: 5.3333333333vw;
  }
}
.l_contents .l_contents__inner-box .box_left .logo {
  max-width: 420px;
  width: 27.34375vw;
  margin-bottom: 2.6041666667vw;
}
@media (max-width: 767px) {
  .l_contents .l_contents__inner-box .box_left .logo {
    width: 53.3333333333vw;
    margin-bottom: 10.6666666667vw;
  }
}
.l_contents .l_contents__inner-box .box_left .txt {
  margin-bottom: 2.6041666667vw;
}
@media (max-width: 767px) {
  .l_contents .l_contents__inner-box .box_left .txt {
    margin-bottom: 10.6666666667vw;
  }
}
.l_contents .l_contents__inner-box .box_left .txt p {
  line-height: 2.1;
  font-size: clamp(10px, 0.9114583333vw, 14px);
  font-family: "游明朝", "YuMincho", "ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro", "ＭＳ Ｐ明朝", "MS PMincho", serif;
}
@media (max-width: 767px) {
  .l_contents .l_contents__inner-box .box_left .txt p {
    font-size: 3.7333333333vw;
    letter-spacing: 0.03em;
  }
}
.l_contents .l_contents__inner-box .box_left .name {
  margin-bottom: 0.6510416667vw;
}
@media (max-width: 767px) {
  .l_contents .l_contents__inner-box .box_left .name {
    margin-bottom: 2.6666666667vw;
  }
}
.l_contents .l_contents__inner-box .box_left .name p {
  font-family: "游明朝", "YuMincho", "ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro", "ＭＳ Ｐ明朝", "MS PMincho", serif;
  font-size: clamp(10px, 0.9765625vw, 15px);
}
@media (max-width: 767px) {
  .l_contents .l_contents__inner-box .box_left .name p {
    font-size: 4vw;
  }
}
.l_contents .l_contents__inner-box .box_left .name p span {
  margin-right: 0.3255208333vw;
  font-size: clamp(10px, 0.9765625vw, 15px);
  font-family: "Sorts Mill Goudy", serif;
  font-weight: 400;
  font-style: italic;
}
@media (max-width: 767px) {
  .l_contents .l_contents__inner-box .box_left .name p span {
    margin-right: 1.3333333333vw;
    font-size: 4vw;
  }
}
.l_contents .l_contents__inner-box .box_left .btn a {
  position: relative;
  text-decoration: none;
  line-height: 1;
  font-family: "Sorts Mill Goudy", serif;
  font-weight: 400;
  font-style: normal;
  font-size: clamp(10px, 0.9114583333vw, 14px);
}
@media (max-width: 767px) {
  .l_contents .l_contents__inner-box .box_left .btn a {
    font-size: 3.7333333333vw;
  }
}
.l_contents .l_contents__inner-box .box_left .btn a img {
  display: inline;
  width: 0.6510416667vw;
}
@media (max-width: 767px) {
  .l_contents .l_contents__inner-box .box_left .btn a img {
    width: 2.6666666667vw;
  }
}
.l_contents .l_contents__inner-box .box_left .btn a::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  height: 1px;
  background-color: #000;
  transition: width 1s;
}
.l_contents .l_contents__inner-box .box_left .btn.active a::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #000;
}
.l_contents .l_contents__inner-box .box_right {
  max-width: 450px;
  width: 29.296875vw;
  top: 0;
  right: 0;
  position: absolute;
  opacity: 0;
  visibility: hidden;
  transition: 1s;
  transition: opacity 1s, visibility 1s;
  z-index: -1;
}
@media (max-width: 820px) {
  .l_contents .l_contents__inner-box .box_right {
    opacity: 1;
    visibility: visible;
  }
}
@media (max-width: 767px) {
  .l_contents .l_contents__inner-box .box_right {
    width: 60.8vw;
    top: auto;
    bottom: 13.0208333333vw;
    right: -5%;
  }
}
.l_contents .l_contents__inner-box .box_right.active {
  transition: 1s;
  opacity: 1;
  visibility: visible;
  transition: opacity 1s, visibility 1s;
}
.l_contents .l_contents__inner.padding {
  padding-bottom: 7.8125vw;
}

.l_news {
  display: flex;
  justify-content: space-between;
  position: relative;
  padding-bottom: 0vw;
}
@media (max-width: 767px) {
  .l_news {
    padding-bottom: 80vw;
    margin-bottom: 26.6666666667vw;
  }
}
.l_news.flex {
  display: block;
  overflow: hidden;
}
@media (max-width: 767px) {
  .l_news.flex {
    overflow: scroll;
    padding-right: 0vw;
    padding-bottom: 5.3333333333vw;
    width: 100%;
  }
}
.l_news.flex .flex_box {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  margin-bottom: 2.6041666667vw;
}
@media (max-width: 767px) {
  .l_news.flex .flex_box {
    margin-bottom: 10.6666666667vw;
  }
}
.l_news.flex .flex_box .contents {
  max-width: 380px;
  width: 24.7395833333vw;
  text-decoration: none;
  margin-bottom: 3.90625vw;
  position: relative;
  display: none;
}
.l_news.flex .flex_box .contents.active {
  display: block;
}
@media (max-width: 767px) {
  .l_news.flex .flex_box .contents {
    max-width: none;
    margin-bottom: 10.6666666667vw;
    width: 42.6666666667vw;
  }
}
.l_news.flex .flex_box .contents .img {
  width: 100%;
  height: 26.6927083333vw;
  max-height: 410px;
  margin-bottom: 1.3020833333vw;
}
@media (max-width: 767px) {
  .l_news.flex .flex_box .contents .img {
    max-height: none;
    height: 42.6666666667vw;
    margin-bottom: 1.3333333333vw;
  }
}
.l_news.flex .flex_box .contents .img img {
  -o-object-fit: contain;
     object-fit: contain;
  width: 100%;
  height: 100%;
}
.l_news.flex .flex_box .contents .date {
  margin-bottom: 0.6510416667vw;
}
@media (max-width: 767px) {
  .l_news.flex .flex_box .contents .date {
    margin-bottom: 2.6666666667vw;
    margin-bottom: 0vw;
  }
}
.l_news.flex .flex_box .contents .date p {
  font-family: "Sorts Mill Goudy", serif;
  font-weight: 400;
  font-style: italic;
  font-size: clamp(10px, 1.0416666667vw, 16px);
  letter-spacing: 0.05em;
  color: #818281;
}
@media (max-width: 767px) {
  .l_news.flex .flex_box .contents .date p {
    font-size: 3.2vw;
  }
}
.l_news.flex .flex_box .contents .txt {
  width: 90%;
}
@media (max-width: 767px) {
  .l_news.flex .flex_box .contents .txt {
    width: 100%;
  }
}
.l_news.flex .flex_box .contents .txt p {
  font-family: "游明朝", "YuMincho", "ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro", "ＭＳ Ｐ明朝", "MS PMincho", serif;
  font-size: clamp(10px, 1.3020833333vw, 20px);
}
@media (max-width: 767px) {
  .l_news.flex .flex_box .contents .txt p {
    font-size: 3.7333333333vw;
  }
}
.l_news.flex .moreBtn {
  display: block;
  width: 11.71875vw;
  height: 11.71875vw;
  border-radius: 50%;
  transition: 0.5s;
  margin: 0 auto;
  cursor: pointer;
}
@media (max-width: 767px) {
  .l_news.flex .moreBtn {
    width: 26.6666666667vw;
    height: 26.6666666667vw;
  }
}
.l_news.flex .moreBtn .btn {
  width: 100%;
  height: 100%;
  display: block;
  border-radius: 50%;
  position: relative;
}
@media (max-width: 767px) {
  .l_news.flex .moreBtn .btn {
    border: 1px solid #000;
  }
}
.l_news.flex .moreBtn .btn p {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: "Sorts Mill Goudy", serif;
  font-weight: 400;
  font-style: normal;
  font-size: clamp(10px, 2.734375vw, 42px);
}
@media (max-width: 767px) {
  .l_news.flex .moreBtn .btn p {
    font-size: 3.7333333333vw;
  }
}
.l_news.flex .moreBtn.small {
  width: 26.0416666667vw;
  height: 11.71875vw;
}
@media (max-width: 767px) {
  .l_news.flex .moreBtn.small {
    width: 32vw;
    height: 32vw;
    text-align: center;
  }
}
.l_news.flex .moreBtn.small .btn p {
  font-size: clamp(10px, 1.953125vw, 30px);
  font-family: "游明朝", "YuMincho", "ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro", "ＭＳ Ｐ明朝", "MS PMincho", serif;
}
@media (max-width: 767px) {
  .l_news.flex .moreBtn.small .btn p {
    font-size: 3.7333333333vw;
  }
}

.l_single_news {
  padding-top: 13.671875vw;
  margin-bottom: 7.1614583333vw;
}
@media (max-width: 767px) {
  .l_single_news {
    padding-top: 34.6666666667vw;
    margin-bottom: 21.3333333333vw;
  }
}
.l_single_news .news_contents .date {
  margin-bottom: 0.6510416667vw;
  font-family: "Sorts Mill Goudy", serif;
  font-weight: 400;
  font-style: italic;
  font-size: clamp(10px, 1.3020833333vw, 20px);
  letter-spacing: 0.05em;
  color: #818281;
}
@media (max-width: 767px) {
  .l_single_news .news_contents .date {
    font-size: 3.7333333333vw;
  }
}
.l_single_news .news_contents .ttl {
  font-family: "游明朝", "YuMincho", "ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro", "ＭＳ Ｐ明朝", "MS PMincho", serif;
  font-size: clamp(10px, 1.5625vw, 24px);
  margin-bottom: 5.2083333333vw;
}
@media (max-width: 767px) {
  .l_single_news .news_contents .ttl {
    font-size: 4.2666666667vw;
    margin-bottom: 10.6666666667vw;
  }
}
.l_single_news .news_contents .img {
  width: 27.34375vw;
  max-width: 420px;
  margin: 0 auto 5.2083333333vw;
}
@media (max-width: 767px) {
  .l_single_news .news_contents .img {
    width: 100%;
    max-width: none;
    margin: 0 auto 10.6666666667vw;
  }
}
.l_single_news .news_contents .txt {
  font-family: "游明朝", "YuMincho", "ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro", "ＭＳ Ｐ明朝", "MS PMincho", serif;
  width: 62.5vw;
  max-width: 960px;
  margin: 0 auto;
  font-size: clamp(10px, 0.9114583333vw, 14px);
  line-height: 1.75;
  margin-bottom: 2.6041666667vw;
}
@media (max-width: 767px) {
  .l_single_news .news_contents .txt {
    width: 100%;
    max-width: none;
    margin: 0 auto 10.6666666667vw;
    font-size: 3.7333333333vw;
  }
}
.l_single_news .news_contents .btn {
  max-width: 960px;
  width: 62.5vw;
  margin: 0 auto;
}
@media (max-width: 767px) {
  .l_single_news .news_contents .btn {
    max-width: none;
    width: 100%;
  }
}
.l_single_news .news_contents .btn a {
  position: relative;
  text-decoration: none;
  line-height: 1;
  font-family: "Sorts Mill Goudy", serif;
  font-weight: 400;
  font-style: normal;
  font-size: clamp(10px, 1.0416666667vw, 16px);
}
@media (max-width: 767px) {
  .l_single_news .news_contents .btn a {
    font-size: 4.2666666667vw;
  }
}
.l_single_news .news_contents .btn a img {
  display: inline;
  width: 0.6510416667vw;
}
@media (max-width: 767px) {
  .l_single_news .news_contents .btn a img {
    width: 2.6666666667vw;
  }
}
.l_single_news .news_contents .btn a::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  height: 1px;
  background-color: #000;
  transition: width 1s;
}
.l_single_news .news_contents .btn a:hover::after {
  width: 100%;
  transition: width 1s;
}

.l_privacy_policy {
  padding-top: 1.3020833333vw;
}
@media (max-width: 767px) {
  .l_privacy_policy {
    padding-top: 2.6041666667vw;
  }
}
.l_privacy_policy .privacy_policy_contents {
  width: 62.5vw;
  margin: 0 auto 6.5104166667vw;
  max-width: 960px;
}
@media (max-width: 767px) {
  .l_privacy_policy .privacy_policy_contents {
    max-width: none;
    width: 100%;
    margin: 0 auto 21.3333333333vw;
  }
}
.l_privacy_policy .privacy_policy_contents .contents_box {
  margin-bottom: 2.6041666667vw;
}
@media (max-width: 767px) {
  .l_privacy_policy .privacy_policy_contents .contents_box {
    width: 100%;
    margin-bottom: 10.6666666667vw;
  }
}
.l_privacy_policy .privacy_policy_contents .contents_box p {
  font-family: "游明朝", "YuMincho", "ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro", "ＭＳ Ｐ明朝", "MS PMincho", serif;
  line-height: 1.75;
  font-size: clamp(10px, 0.9114583333vw, 14px);
}
@media (max-width: 767px) {
  .l_privacy_policy .privacy_policy_contents .contents_box p {
    font-size: 3.7333333333vw;
  }
}
.l_privacy_policy .privacy_policy_contents .contents_box .bold {
  font-weight: 600;
  font-size: clamp(10px, 1.0416666667vw, 16px);
  margin-bottom: 1.3020833333vw;
}
@media (max-width: 767px) {
  .l_privacy_policy .privacy_policy_contents .contents_box .bold {
    line-height: 1;
    font-size: 4.2666666667vw;
    margin-bottom: 5.3333333333vw;
  }
}
.l_privacy_policy .contents_box {
  width: 62.5vw;
  margin: 0 auto 2.6041666667vw;
  max-width: 960px;
}
@media (max-width: 767px) {
  .l_privacy_policy .contents_box {
    max-width: none;
    width: 100%;
    margin: 0 auto;
  }
}
.l_privacy_policy .contents_box p {
  font-family: "游明朝", "YuMincho", "ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro", "ＭＳ Ｐ明朝", "MS PMincho", serif;
  line-height: 1.75;
  font-size: clamp(10px, 0.9114583333vw, 14px);
  margin-bottom: 2.6041666667vw;
}
@media (max-width: 767px) {
  .l_privacy_policy .contents_box p {
    font-size: 3.7333333333vw;
    margin-bottom: 8vw;
  }
}
.l_privacy_policy .contents_box .menu a {
  font-family: "Marcellus", serif;
  font-weight: 400;
  font-style: normal;
  text-decoration: none;
  font-size: clamp(10px, 1.0416666667vw, 16px);
}
@media (max-width: 767px) {
  .l_privacy_policy .contents_box .menu a {
    font-size: 4.2666666667vw;
  }
}

.l_about {
  padding-top: 1.3020833333vw;
}
@media (max-width: 767px) {
  .l_about {
    padding-top: 2.6041666667vw;
  }
}
.l_about .about_contents {
  width: 41.015625vw;
  margin: 0 auto 6.5104166667vw;
  max-width: 630px;
}
@media (max-width: 767px) {
  .l_about .about_contents {
    max-width: none;
    width: 100%;
    margin: 0 auto 21.3333333333vw;
  }
}
.l_about .about_contents .contents_box {
  margin-bottom: 2.6041666667vw;
  display: flex;
  align-items: flex-start;
  padding-left: 3.90625vw;
}
@media (max-width: 767px) {
  .l_about .about_contents .contents_box {
    padding-left: 0vw;
    width: 100%;
    margin-bottom: 10.6666666667vw;
  }
}
.l_about .about_contents .contents_box p {
  font-family: "游明朝", "YuMincho", "ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro", "ＭＳ Ｐ明朝", "MS PMincho", serif;
  line-height: 1.75;
  font-size: clamp(10px, 0.9114583333vw, 14px);
}
@media (max-width: 767px) {
  .l_about .about_contents .contents_box p {
    font-size: 3.7333333333vw;
  }
}
.l_about .about_contents .contents_box .medium {
  font-size: clamp(10px, 1.171875vw, 18px);
  margin-bottom: 1.3020833333vw;
}
@media (max-width: 767px) {
  .l_about .about_contents .contents_box .medium {
    line-height: 1.5;
    font-size: 4.2666666667vw;
    margin-bottom: 5.3333333333vw;
  }
}
.l_about .about_contents .contents_box .left {
  width: 8.4635416667vw;
  max-width: 130px;
  font-weight: 600;
  font-size: clamp(10px, 1.0416666667vw, 16px);
  line-height: 1.75;
}
@media (max-width: 767px) {
  .l_about .about_contents .contents_box .left {
    width: 29.3333333333vw;
    max-width: none;
    line-height: 1.5;
    font-size: 4.2666666667vw;
  }
}
.l_about .about_contents .contents_box a {
  font-family: "游明朝", "YuMincho", "ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro", "ＭＳ Ｐ明朝", "MS PMincho", serif;
  line-height: 1.75;
  font-size: clamp(10px, 0.9114583333vw, 14px);
}
@media (max-width: 767px) {
  .l_about .about_contents .contents_box a {
    font-size: 3.7333333333vw;
  }
}
.l_about .about_contents .contents_box.top {
  padding-left: 0vw;
  margin-bottom: 8.4635416667vw;
}
.l_about .about_contents .contents_box:nth-last-child(1) {
  margin-bottom: 0;
}

.l_contact {
  width: 100%;
  text-align: center;
}
.l_contact .l_contact__head {
  width: 100%;
  margin-bottom: 4.6223958333vw;
  color: #000;
  font-family: "游明朝", "YuMincho", "ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro", "ＭＳ Ｐ明朝", "MS PMincho", serif;
  font-size: 0.9114583333vw;
  text-align: center;
}
@media (max-width: 767px) {
  .l_contact .l_contact__head {
    margin-bottom: 10.6666666667vw;
    font-size: 3.7333333333vw;
    text-align: left;
  }
}
.l_contact .l_contact__head .l_contact__head-text {
  margin-bottom: 2.6041666667vw;
  line-height: 2.2;
}
@media (max-width: 767px) {
  .l_contact .l_contact__head .l_contact__head-text {
    margin-bottom: 10.6666666667vw;
  }
}
.l_contact .l_contact__head .l_contact__head-link {
  text-decoration: none;
}
.l_contact .l_contact__body {
  padding: 0 0 8.2682291667vw;
}
.l_contact .l_contact__body .l_contact__inner {
  margin-bottom: 5.2734375vw;
}
@media (max-width: 767px) {
  .l_contact .l_contact__body .l_contact__inner {
    margin-bottom: 10.6666666667vw;
  }
}
.l_contact .l_contact__body .l_contact__inner:last-child {
  margin-bottom: 0;
}
.l_contact .l_contact__body .l_contact__inner .text-field {
  display: flex;
  align-items: center;
  justify-content: center;
}
.l_contact .l_contact__body .l_contact__inner .text-field.flexSta {
  align-items: flex-start;
  justify-content: center;
}
@media (max-width: 767px) {
  .l_contact .l_contact__body .l_contact__inner .text-field.flexSta {
    align-items: flex-start;
    justify-content: flex-start;
  }
}
@media (max-width: 767px) {
  .l_contact .l_contact__body .l_contact__inner .text-field {
    flex-direction: column;
    align-items: initial;
  }
}
.l_contact .l_contact__body .l_contact__inner .text-field .text-field__label-wrapper {
  position: relative;
  max-width: 9.4401041667vw;
  min-width: 8.7890625vw;
  margin-right: 2.6041666667vw;
  padding: 0.6510416667vw 0;
  text-align: left;
}
@media (max-width: 767px) {
  .l_contact .l_contact__body .l_contact__inner .text-field .text-field__label-wrapper {
    width: 100%;
    max-width: -webkit-fit-content;
    max-width: -moz-fit-content;
    max-width: fit-content;
  }
}
.l_contact .l_contact__body .l_contact__inner .text-field .text-field__label-wrapper .text-field__required {
  position: absolute;
  color: #ed1c24;
  top: 4px;
  left: -12px;
  font-size: 10px;
  transform: scale(0.8);
}
@media (max-width: 767px) {
  .l_contact .l_contact__body .l_contact__inner .text-field .text-field__label-wrapper .text-field__required {
    right: -12px;
    left: initial;
  }
}
.l_contact .l_contact__body .l_contact__inner .text-field .text-field__label-wrapper .text-field__required.displayNone {
  display: none;
}
.l_contact .l_contact__body .l_contact__inner .text-field .text-field__label-wrapper .text-field__label {
  font-family: "Sorts Mill Goudy", serif;
  font-weight: 400;
  font-style: normal;
  color: #000;
  font-size: 1.3020833333vw;
  white-space: nowrap;
}
@media (max-width: 767px) {
  .l_contact .l_contact__body .l_contact__inner .text-field .text-field__label-wrapper .text-field__label {
    font-size: 5.3333333333vw;
  }
}
.l_contact .l_contact__body .l_contact__inner .text-field .text-field__label-wrapper .text-field__label.displayNone {
  display: none;
}
.l_contact .l_contact__body .l_contact__inner .text-field textarea {
  max-width: 32.5520833333vw;
  min-width: 32.5520833333vw;
  min-height: calc((2 * 0.6510416667vw) + (2 * 1.0416666667vw));
}
@media (max-width: 767px) {
  .l_contact .l_contact__body .l_contact__inner .text-field textarea {
    max-width: initial;
    min-width: initial;
  }
}
.l_contact .l_contact__body .l_contact__inner .text-field .text-field__input {
  width: 32.5520833333vw;
  padding: 0.6510416667vw;
  border-bottom: 1px solid #000;
  font-family: "游明朝", "YuMincho", "ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro", "ＭＳ Ｐ明朝", "MS PMincho", serif;
  font-size: 1.0416666667vw;
}
@media (max-width: 767px) {
  .l_contact .l_contact__body .l_contact__inner .text-field .text-field__input {
    width: 100%;
    padding: 2.6666666667vw;
    font-size: 4.2666666667vw;
  }
}
.l_contact .l_contact__body .l_contact__inner .text-field .text-field__input.avenir {
  font-family: Avenir;
}
.l_contact .l_contact__body .l_contact__inner .text-field .text-field__input.text-field__input--error {
  border-bottom: 1px solid #ed1c24;
  text-align: left;
}
@media (max-width: 767px) {
  .l_contact .l_contact__body .l_contact__inner .text-field .text-field__input-wrapper {
    width: 100%;
  }
}
.l_contact .l_contact__body .l_contact__inner .text-field .error {
  padding: 0.3255208333vw 0.6510416667vw;
  color: #ed1c24;
  font-size: 0.78125vw;
  text-align: left;
}
@media (max-width: 767px) {
  .l_contact .l_contact__body .l_contact__inner .text-field .error {
    padding: 1.3333333333vw 2.6666666667vw;
    font-size: 3.2vw;
  }
}
.l_contact .l_contact__body .l_contact__inner .text-field .textarea-wrapper {
  position: relative;
  line-height: 1.8;
}
.l_contact .l_contact__body .l_contact__inner .text-field .textarea__dummy {
  overflow: hidden;
  visibility: hidden;
  box-sizing: border-box;
  padding: 0.6510416667vw;
  max-width: 32.5520833333vw;
  min-width: 32.5520833333vw;
  min-height: calc((2 * 0.6510416667vw) + (2 * 1.0416666667vw));
  max-height: calc(2 * 1.0416666667vw);
  white-space: pre-wrap;
  word-wrap: break-word;
  overflow-wrap: break-word;
}
@media (max-width: 767px) {
  .l_contact .l_contact__body .l_contact__inner .text-field .textarea__dummy {
    max-width: initial;
    min-width: initial;
    width: 100%;
  }
}
.l_contact .l_contact__body .l_contact__inner .text-field .textarea__dummy.displayNone {
  display: none;
}
.l_contact .l_contact__body .l_contact__inner .text-field .textarea {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  overflow: hidden;
  box-sizing: border-box;
  padding: 0.6510416667vw;
  width: 100%;
  height: 100%;
}
.l_contact .l_contact__body .l_contact__inner .text-field.text-field--confirm .text-field__input {
  border-bottom: none;
  text-align: left;
}
.l_contact .l_contact__body .l_contact__inner .text-field.text-field--confirm .text-field__label {
  color: #707070;
}
.l_contact .l_contact__body .l_contact__inner .text-field.text-field--confirm .text-field__input-wrapper {
  font-size: 16px;
  text-align: left;
  font-family: "Sorts Mill Goudy", serif;
  font-weight: 400;
  font-style: normal;
  width: 100%;
}
@media (max-width: 767px) {
  .l_contact .l_contact__body .l_contact__inner .text-field.text-field--confirm .text-field__input-wrapper {
    font-family: "游明朝", "YuMincho", "ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro", "ＭＳ Ｐ明朝", "MS PMincho", serif;
    text-align: left;
  }
}
.l_contact .l_contact__body .l_contact__inner .text-field.text-field--confirm.alignItems {
  width: 42.3177083333vw;
  max-width: 650px;
  margin: 0 auto;
  justify-content: flex-start;
}
@media (max-width: 767px) {
  .l_contact .l_contact__body .l_contact__inner .text-field.text-field--confirm.alignItems {
    max-width: none;
    width: 100%;
  }
}
.l_contact .l_contact__body .agree {
  margin-bottom: 5.2083333333vw;
  color: #000;
  font-family: "游明朝", "YuMincho", "ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro", "ＭＳ Ｐ明朝", "MS PMincho", serif;
  font-size: 0.9114583333vw;
  line-height: 2;
  text-align: center;
}
@media (max-width: 767px) {
  .l_contact .l_contact__body .agree {
    font-size: 3.7333333333vw;
    text-align: left;
    margin-bottom: 26.6666666667vw;
  }
}
.l_contact .l_contact__body .agree .agree-text {
  margin-bottom: 1.953125vw;
}
.l_contact .l_contact__body .agree .agree-text.displayNone {
  display: none;
}
@media (max-width: 767px) {
  .l_contact .l_contact__body .agree .agree-text {
    margin-bottom: 8vw;
  }
}
@media (max-width: 767px) {
  .l_contact .l_contact__body .agree .agree-checkbox-wrapper {
    justify-content: flex-start;
  }
}
.l_contact .l_contact__body .agree .agree-checkbox-wrapper input[type=checkbox]:checked + label:after {
  opacity: 1;
}
.l_contact .l_contact__body .agree .agree-checkbox-wrapper input[type=checkbox] {
  -webkit-appearance: auto !important;
     -moz-appearance: auto !important;
          appearance: auto !important;
}
.l_contact .l_contact__body .agree .agree-checkbox-wrapper .text-field__label.displayNone {
  display: none;
}
.l_contact .l_contact__body .agree .agree-checkbox-wrapper .agree-checkbox {
  display: none;
}
.l_contact .l_contact__body .agree .agree-checkbox-wrapper .agree-checkbox-label {
  position: relative;
  padding-left: 0.6510416667vw;
  cursor: pointer;
  font-size: 0.9114583333vw;
  accent-color: #000;
}
@media (max-width: 767px) {
  .l_contact .l_contact__body .agree .agree-checkbox-wrapper .agree-checkbox-label {
    padding-left: 5.3333333333vw;
    font-size: 3.7333333333vw;
  }
}
.l_contact .l_contact__body .agree .agree-checkbox-wrapper .mwform-checkbox-field {
  line-height: 1;
}
.l_contact .l_contact__body .agree .agree-checkbox-wrapper .mwform-checkbox-field label {
  display: flex;
  justify-content: center;
  align-items: center;
}
.l_contact .l_contact__body .agree .agree-checkbox-wrapper .mwform-checkbox-field label input {
  display: block;
  width: 0.87890625vw;
  height: 0.87890625vw;
  border: 1px solid #000;
  margin-bottom: 0.09765625vw;
  -webkit-appearance: auto;
     -moz-appearance: auto;
          appearance: auto;
}
@media (max-width: 767px) {
  .l_contact .l_contact__body .agree .agree-checkbox-wrapper .mwform-checkbox-field label input {
    padding: 0;
    width: 4vw;
    height: 4vw;
  }
}
.l_contact .l_contact__body .agree .agree-checkbox-wrapper .mwform-checkbox-field label span {
  line-height: 1;
}
.l_contact .l_contact__body .agree .agree-checkbox-wrapper.displayNone {
  display: none;
}
.l_contact .l_contact__body .l_contact__foot {
  width: 100%;
  text-align: center;
}
.l_contact .l_contact__body .l_contact__foot .l_contact__foot-text {
  cursor: none;
  font-family: "Sorts Mill Goudy", serif;
  font-weight: 400;
  font-style: normal;
  color: #000;
  font-size: 2.734375vw;
  text-decoration: none;
}
@media (max-width: 767px) {
  .l_contact .l_contact__body .l_contact__foot .l_contact__foot-text {
    font-size: 4.2666666667vw;
    width: 26.6666666667vw;
    height: 26.6666666667vw;
    border: 1px solid #000;
    border-radius: 50%;
  }
}
.l_contact .l_contact__body .l_contact__foot .l_contact__foot-text.displayNone {
  display: none;
}
.l_contact .l_contact__foot {
  width: 100%;
  text-align: center;
}
.l_contact .l_contact__foot .l_contact__foot-text {
  cursor: none;
  font-family: "Sorts Mill Goudy", serif;
  font-weight: 400;
  font-style: normal;
  color: #000;
  font-size: 2.734375vw;
  text-decoration: none;
}
@media (max-width: 767px) {
  .l_contact .l_contact__foot .l_contact__foot-text {
    width: 26.6666666667vw;
    height: 26.6666666667vw;
    font-size: 4.2666666667vw;
  }
}
.l_contact .l_contact__foot .l_contact__foot-text.displayNone {
  display: none;
}
.l_contact.marginTop {
  margin-top: -5.2083333333vw;
}
@media (max-width: 767px) {
  .l_contact.marginTop {
    margin-top: 0vw;
  }
}

.FlexTextarea {
  position: relative;
  line-height: 1.8;
}
.FlexTextarea .error {
  position: absolute;
  top: 3.90625vw;
  left: 0;
}
@media (max-width: 767px) {
  .FlexTextarea .error {
    top: 13.3333333333vw;
  }
}

.FlexTextarea__dummy {
  overflow: hidden;
  visibility: hidden;
  box-sizing: border-box;
  padding: 0.6510416667vw;
  max-width: 32.5520833333vw;
  min-width: 32.5520833333vw;
  min-height: calc((2 * 0.6510416667vw) + (2 * 1.0416666667vw));
  white-space: pre-wrap;
  word-wrap: break-word;
  overflow-wrap: break-word;
  border: 1px solid;
  font-size: 1.0416666667vw;
}
@media (max-width: 767px) {
  .FlexTextarea__dummy {
    max-width: initial;
    min-width: initial;
    min-height: 13.3333333333vw;
    font-size: 4.2666666667vw;
  }
}
.FlexTextarea__dummy.displayNone {
  display: none;
}

.FlexTextarea__textarea {
  position: absolute;
  top: 0;
  left: 0;
  box-sizing: border-box;
  padding: 0.6510416667vw;
  width: 100%;
  max-width: 32.5520833333vw;
  min-width: 32.5520833333vw;
  height: 100%;
  border-bottom: 1px solid #000;
  font-family: "游明朝", "YuMincho", "ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro", "ＭＳ Ｐ明朝", "MS PMincho", serif;
  font-size: 1.0416666667vw;
  color: inherit;
  letter-spacing: inherit;
  resize: vertical;
}
@media (max-width: 767px) {
  .FlexTextarea__textarea {
    max-width: initial;
    min-width: initial;
    font-size: 4.2666666667vw;
  }
}

.mw_wp_form .error {
  padding: 0.3255208333vw 0.6510416667vw;
  color: #ed1c24 !important;
  font-size: 0.78125vw;
  font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", sans-serif !important;
  text-align: left;
}
@media (max-width: 767px) {
  .mw_wp_form .error {
    padding: 1.3333333333vw 2.6666666667vw;
    font-size: 3.2vw;
  }
}

input::-moz-placeholder {
  color: #cccccc;
}

input:-ms-input-placeholder {
  color: #cccccc;
}

input::placeholder {
  color: #cccccc;
}

textarea::-moz-placeholder {
  color: #cccccc;
}

textarea:-ms-input-placeholder {
  color: #cccccc;
}

textarea::placeholder {
  color: #cccccc;
}

.textAlign {
  text-align: center;
}

/*
* object
*/
#follower {
  position: absolute;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  pointer-events: none;
}

#follower_02 {
  position: absolute;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  pointer-events: none;
}

#follower_03 {
  position: absolute;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  pointer-events: none;
}

#follower_04 {
  position: absolute;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  pointer-events: none;
}

#follower {
  z-index: 100001;
  width: 11.71875vw;
  height: 11.71875vw;
  border-radius: 50%;
  opacity: 0;
  transition: opacity 0.5s;
}
#follower .btn {
  width: 100%;
  height: 100%;
  display: block;
  border: 1px solid #000;
  border-radius: 50%;
  position: relative;
}
#follower .btn img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 50px;
  width: 3.2552083333vw;
}
@media (max-width: 767px) {
  #follower .btn img {
    width: 8vw;
  }
}
#follower .btn p {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: "Sorts Mill Goudy", serif;
  font-weight: 400;
  font-style: italic;
  font-size: clamp(10px, 0.9114583333vw, 14px);
}
@media (max-width: 767px) {
  #follower .btn p {
    font-size: 3.7333333333vw;
  }
}
#follower.active {
  transition: opacity 0.5s;
  opacity: 1;
}

#follower_02 {
  z-index: 10000;
  width: 11.71875vw;
  height: 11.71875vw;
  border-radius: 50%;
  opacity: 0;
  transition: opacity 0.5s;
}
#follower_02 .btn {
  width: 100%;
  height: 100%;
  display: block;
  border: 1px solid #000;
  border-radius: 50%;
  position: relative;
}
#follower_02 .btn img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 50px;
  width: 3.2552083333vw;
}
@media (max-width: 767px) {
  #follower_02 .btn img {
    width: 8vw;
  }
}
#follower_02 .btn p {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: "Sorts Mill Goudy", serif;
  font-weight: 400;
  font-style: italic;
  font-size: clamp(10px, 0.9114583333vw, 14px);
}
@media (max-width: 767px) {
  #follower_02 .btn p {
    font-size: 3.7333333333vw;
  }
}
#follower_02.active {
  transition: opacity 0.5s;
  opacity: 1;
}

#follower_03 {
  z-index: 10000;
  width: 11.71875vw;
  height: 11.71875vw;
  border-radius: 50%;
  opacity: 0;
  transition: opacity 0.5s;
}
#follower_03 .btn {
  width: 100%;
  height: 100%;
  display: block;
  border: 1px solid #000;
  border-radius: 50%;
  position: relative;
}
#follower_03 .btn img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 50px;
  width: 3.2552083333vw;
}
@media (max-width: 767px) {
  #follower_03 .btn img {
    width: 8vw;
  }
}
#follower_03 .btn p {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: "Sorts Mill Goudy", serif;
  font-weight: 400;
  font-style: italic;
  font-size: clamp(10px, 0.9114583333vw, 14px);
}
@media (max-width: 767px) {
  #follower_03 .btn p {
    font-size: 3.7333333333vw;
  }
}
#follower_03.active {
  transition: opacity 0.5s;
  opacity: 1;
}

#follower_04 {
  z-index: 10000;
  width: 11.71875vw;
  height: 11.71875vw;
  border-radius: 50%;
  opacity: 0;
  transition: opacity 0.5s;
}
#follower_04 .btn {
  width: 100%;
  height: 100%;
  display: block;
  border: 1px solid #000;
  border-radius: 50%;
  position: relative;
}
#follower_04 .btn img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 50px;
  width: 3.2552083333vw;
}
@media (max-width: 767px) {
  #follower_04 .btn img {
    width: 8vw;
  }
}
#follower_04 .btn p {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: "Sorts Mill Goudy", serif;
  font-weight: 400;
  font-style: italic;
  font-size: clamp(10px, 0.9114583333vw, 14px);
}
@media (max-width: 767px) {
  #follower_04 .btn p {
    font-size: 3.7333333333vw;
  }
}
#follower_04.active {
  transition: opacity 0.5s;
  opacity: 1;
}

.menu {
  position: relative;
  display: inline-block;
}
.menu::after {
  content: "";
  position: absolute;
  bottom: 0;
  width: 0;
  height: 1px;
  background-color: #000;
  display: block;
  transition: opacity 0.7s;
}
.menu:hover::after {
  width: 100%;
  transition: opacity 0.7s;
}

.pageTtl {
  padding-top: 13.671875vw;
  display: flex;
  align-items: center;
  margin-bottom: 5.2083333333vw;
}
.pageTtl.padding {
  padding: 0;
}
@media (max-width: 767px) {
  .pageTtl {
    flex-direction: column;
    align-items: flex-start;
    padding-top: 34.6666666667vw;
    margin-bottom: 10.6666666667vw;
  }
}
.pageTtl .bold {
  font-family: "Marcellus", serif;
  font-weight: 400;
  font-style: normal;
  font-size: clamp(10px, 3.90625vw, 60px);
  color: #000;
  letter-spacing: 0.05em;
}
@media (max-width: 767px) {
  .pageTtl .bold {
    font-size: 8.5333333333vw;
    color: #000000;
  }
}
.pageTtl .small {
  margin-top: 0.9765625vw;
  display: inline-block;
  margin-left: 1.953125vw;
  font-size: clamp(10px, 0.9114583333vw, 14px);
  font-family: "游明朝", "YuMincho", "ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro", "ＭＳ Ｐ明朝", "MS PMincho", serif;
  color: #000;
}
@media (max-width: 767px) {
  .pageTtl .small {
    margin-left: 0;
    font-size: 3.7333333333vw;
  }
}
.pageTtl.other {
  flex-direction: column;
  margin-bottom: 11.3932291667vw;
}
@media (max-width: 767px) {
  .pageTtl.other {
    margin-bottom: 21.3333333333vw;
  }
}
.pageTtl.other .small {
  margin-left: 0;
}/*# sourceMappingURL=style.css.map */